@import url(reset.css);
@font-face {
  font-family: 'poppinsregular';
  src: url(../fonts/poppins-regular-webfont.woff2) format('woff2'),
       url(../fonts/poppins-regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;

}

$max-content-width: 80%;
$max-logo-width: 100px;
$max-icone-width: 6rem;

$bg-color: #000000e7;
$main-color: lightblue;
$white-color: #fff;
$text-primary-color: #000000;
$background-nav: #ddd;
$secondary-color: #73f6a7;
$secondary-color-btn: #7fbe97;
$color-item: #cf841a;



$spacing-xs: 0.5rem;
$spacing-sm: 0.75rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;

$font-family-primary:"poppinsregular";

$font-size-xs: 0.25rem;
$font-size-sm: 1rem;
$font-size-md: 2rem;
$font-size-lg: 1.5rem;
$font-size-xl: 4rem;


%link{
    text-decoration:underline;
    color: $white-color;
    font-weight: bolder;
    border-radius: 0.5rem;
   
  }

  %img{
    width: 30%;
    height: auto;
    border-radius: 2rem;
    box-shadow: 2px 2px 24px -3px $secondary-color;
  
  }

  %pict{
    width: 50%;
    height: auto;
    border-radius: 2rem;
    box-shadow: 2px 2px 24px -3px $color-item;

  
  }

  %animation{

    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }

  %callAnimationpuff{
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;


  }

  %callAnimationFliker{
    -webkit-animation: flicker-in-1 2s linear both;
    animation: flicker-in-1 2s linear both;

  }


  %nav__btn{

  border-radius: 100%;
  background-color: $secondary-color;
  color:$bg-color;

  }





@mixin display(
  $display,
  $column,
  $direction,
  $justifyContent,
  $alignItems,
  $gap
) {
  @if ($display == grid) {
    display: $display;
    grid-template-columns: $column;
  } @else if($display == flex) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
  }

  @if ($gap) {
    gap: $gap;
  }
}





body{
    background-color: $bg-color;
    margin: 50px 250px;
    font-family: $font-family-primary;
    
}



.header{
    font-size: $font-size-md;
    color: $white-color;
    @include display(flex, false, row, space-between, center, false);
    @extend%animation;

  


}

.btn__actif{
  border-radius: 0.5rem;
  height: 2rem;
  color: $secondary-color;
  opacity: 90%;

  
}




.title__h1{
    -webkit-animation: flicker-in-1 2s linear both;
    animation: flicker-in-1 2s linear both;
  
  


}



.nav__list{

    @include display(flex, false, row, space-around, center, 2rem);


}

.nav__link{
    @extend%link;
    





    :hover{
        color: $secondary-color;
        
    }

    
    &:hover{
        .icon__fb{
            color: rgb(64, 64, 216)
        }

        .icon__insta{
            color: rgb(197, 48, 118)
        }

        .icon__linkedin{
            color: rgb(64, 64, 216)

        }
        

    }

}

// main

.main{
    height: 800px;

}

.picture__card{
  margin-top: 6rem;
    @extend%pict;
    @extend%callAnimationpuff;

    
}

.paragraph__perso{
    font-size: $font-size-md;
    color: $white-color;
    -webkit-animation: flicker-in-1 2s linear both;
    animation: flicker-in-1 2s linear both;
    
    
}

.card__perso {
  border-radius: 2rem;
  row-gap: 1rem;
  transition: 2s ease;
  opacity: 0%;

  &:hover {
    opacity: 100%;
    transform: scale(1.4);
    z-index: 1;
  }
}

.skill__dev {
  border-radius: 2rem;
  row-gap: 1rem;
  transition: 2s ease;
  opacity: 0%;

  &:hover {
    opacity: 100%;
    transform: scale(1.4);
    z-index: 1;
  }
}

.card__informatic {
  border-radius: 2rem;
  row-gap: 1rem;
  transition: 2s ease;
  opacity: 0%;

  &:hover {
    opacity: 100%;
    transform: scale(1.4);
    z-index: 1;
  }
}

.card__hobbies {
  border-radius: 2rem;
  row-gap: 1rem;
  transition: 2s ease;
  opacity: 0%;

  &:hover {
    opacity: 100%;
    transform: scale(1.4);
    z-index: 1;
  }
}














.footer{
    @include display(flex, false, row, space-between, center, 2rem);
    font-size: $font-size-md;
    color: $white-color;
    display: flex;
    width: 100%;
    @extend%callAnimationpuff;

  

    .footer__nav__list{
        @include display(flex, false, row, space-between, center, 2rem);

        
    }

    .btn__footer{
      border-radius: 2rem;
      padding: 1rem;
      font-size: $font-size-md;
      font-weight: bolder;
      background-color: $secondary-color-btn;
      box-shadow: 2px 2px 24px -3px $secondary-color;
      border: none;
      
      &:hover{
        opacity: 50%;
        background-color:$bg-color;
        color: $white-color;
      }


    }
    


}





// RWD

@media screen and (max-width: 1100px){

  body{
    margin: 0;
  }


.header{
    @include display(flex, false, column, space-between, center, false);
    @extend%animation;
    margin-top: 2rem;


    .nav{
        margin-top: 2rem;
    }


}

.main{
    margin-bottom: 4rem;
    height: auto;

    .card__perso{
        @include display(flex, column, column, space-between, center, false)
    
    }

   

 
}

.paragraph__perso{
  margin-top: 2rem;
}



.container{
    margin-top: 2rem;
}







.footer{

    max-height: 300px;

    @include display(flex, column, column, space-evenly, center, 2rem);

    .footer__nav__list{
        @include display(flex, false, row, space-evenly, center, 2rem);

    }


    .btn__footer {
      font-size: 1.5rem;
    }
    
    

}



.btn__footer{
    margin-top: 2rem;
}

}












// ANIMATION Flicker


 @-webkit-keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  



/*
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

