@import url(reset.css);
@font-face {
  font-family: "poppinsregular";
  src: url(../fonts/poppins-regular-webfont.woff2) format("woff2"), url(../fonts/poppins-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
.nav__link {
  text-decoration: underline;
  color: #fff;
  font-weight: bolder;
  border-radius: 0.5rem;
}

.skill__item {
  width: 40%;
  height: auto;
}

.header {
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.footer, .picture__card {
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

body {
  background-color: rgba(0, 0, 0, 0.9058823529);
  margin: 50px 250px;
  font-family: "poppinsregular";
}

.header {
  font-size: 2rem;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn__actif {
  border-radius: 0.5rem;
  height: 2rem;
  color: #73f6a7;
  opacity: 90%;
}

.title__h1 {
  animation: flicker-in-1 2s linear both;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.nav__link :hover {
  color: #73f6a7;
}
.nav__link:hover .icon__fb {
  color: rgb(64, 64, 216);
}
.nav__link:hover .icon__insta {
  color: rgb(197, 48, 118);
}
.nav__link:hover .icon__linkedin {
  color: rgb(64, 64, 216);
}

.main {
  height: 800px;
}

.picture__dev {
  width: 100%;
}

.picture__card {
  width: 10%;
  border-radius: 2rem;
  margin-bottom: 6rem;
}

.paragraph__perso {
  font-size: 2rem;
  color: #fff;
  text-align: end;
  justify-content: center;
  animation: flicker-in-1 2s linear both;
}

.logo__skill {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slit-in-vertical 0.45s ease-out both;
}

.logo__js, .logo__sql, .logo__git, .logo__seo, .logo__github, .logo__figma, .logo__symfony, .logo__php {
  border-radius: 0.5rem;
}

.logo__html, .logo__css {
  border-radius: 0 0 1rem 1rem;
}

.logo__ubu, .logo__nginx {
  border-radius: 100%;
}

.logo__nginx, .logo__php, .logo__symfony {
  width: auto;
  height: 52px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  color: #fff;
  display: flex;
  width: 100%;
}
.footer .footer__nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.footer .btn__footer {
  border-radius: 2rem;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bolder;
  background-color: #7fbe97;
  box-shadow: 2px 2px 24px -3px #73f6a7;
}
.footer .btn__footer:hover {
  opacity: 50%;
  background-color: rgba(0, 0, 0, 0.9058823529);
  color: #fff;
}
.footer .btn__nav {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

@media screen and (max-width: 1100px) {
  body {
    margin: 0;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
  .header .nav {
    margin-top: 2rem;
  }
  .main {
    margin-bottom: 4rem;
  }
  .main .card__perso {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .picture__dev {
    justify-content: center !important;
  }
  .picture__card {
    width: 40%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .skill__dev {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
  }
  .skill__dev .logo__skill {
    width: 100%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
  }
  .footer .footer__nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
  }
  .footer__presentation {
    text-align: center;
  }
  .btn__footer {
    margin-top: 2rem;
  }
  .btn__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 6rem;
    gap: 2rem;
  }
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/*
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation slit-in-vertical logo
 * ----------------------------------------
 */
@keyframes slit-in-vertical {
  0% {
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotateY(0);
  }
}/*# sourceMappingURL=style_army.css.map */